.bg-color-menu {
  background-color: #007BFF;
}

.text-master-color-red {
  color: #FB0000;
}

#menu .nav-link {
  color: white;
}

#menu .nav-link:hover {
  color: #ffaf37;
}

#menu .active .nav-link {
  color: #ffaf37;
}
